<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_backToStart_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3030,1387},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>common_backToStart_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3100,1140},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>common_list_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3232,1137},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_list_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3284,1259},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_music_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3289,1333},{69,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_music_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3304,962},{69,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_next_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3304,1036},{69,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_next_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3311,814},{69,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_resume_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3311,888},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_resume_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3313,711},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_setting_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3306,1110},{69,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_setting_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3306,1184},{69,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_sound_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3313,2},{69,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_sound_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3313,76},{69,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_starLeft_img_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{3313,298},{70,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>common_starLeft_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3313,371},{70,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>common_starMid_img_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{3146,908},{88,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{88,85}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>common_starMid_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3226,724},{88,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{88,85}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>common_starRight_img_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{3313,444},{70,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>common_starRight_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3313,517},{70,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>common_start_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3313,150},{69,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_start_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3313,224},{69,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>guideMap.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2500,1690}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2500,1690}}</string>
                <key>sourceSize</key>
                <string>{2500,1690}</string>
            </dict>
            <key>play_main_background_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2504,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>play_main_lose_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3100,1260},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>play_main_win_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3162,1382},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>play_moves_moves_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3030,1507},{219,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,76}}</string>
                <key>sourceSize</key>
                <string>{219,76}</string>
            </dict>
            <key>play_play_circle_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3162,1260},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>play_play_colorHLeft_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3146,816},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>play_play_colorHRight_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3251,1582},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>play_play_colorVDown_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3146,724},{78,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>play_play_colorVUp_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3146,632},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>play_postPlay_back_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2504,1140},{479,524}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{479,524}}</string>
                <key>sourceSize</key>
                <string>{495,540}</string>
            </dict>
            <key>play_prePlay_back_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2504,1140},{479,524}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{479,524}}</string>
                <key>sourceSize</key>
                <string>{495,540}</string>
            </dict>
            <key>play_score_score_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3030,1585},{219,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,76}}</string>
                <key>sourceSize</key>
                <string>{219,76}</string>
            </dict>
            <key>play_targetTips_target_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3146,2},{628,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,165}}</string>
                <key>sourceSize</key>
                <string>{628,165}</string>
            </dict>
            <key>play_target_target_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3030,1140},{245,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,68}}</string>
                <key>sourceSize</key>
                <string>{245,68}</string>
            </dict>
            <key>round10ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3162,1426},{93,59}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,75},{93,59}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round10ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3251,1487},{93,59}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,75},{93,59}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round1ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2745,1621},{75,71}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,58},{75,71}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round1ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2822,1621},{75,71}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,58},{75,71}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round2ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3257,1426},{77,47}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,82},{77,47}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round2ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2666,1621},{77,47}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,82},{77,47}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round3ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3236,893},{73,67}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,68},{73,67}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round3ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3229,1068},{73,67}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,68},{73,67}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round4ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2899,1621},{73,71}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,63},{73,71}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round4ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3229,995},{73,71}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,63},{73,71}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round5ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3312,1475},{81,75}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,54},{81,75}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round5ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3146,995},{81,75}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,54},{81,75}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round6ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2974,1621},{49,57}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,76},{49,57}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round6ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3232,1208},{49,57}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,76},{49,57}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round7ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3146,1072},{57,61}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,70},{57,61}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round7ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3323,590},{57,61}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,70},{57,61}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round8ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2504,1621},{79,67}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,69},{79,67}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round8ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2585,1621},{79,67}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,69},{79,67}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round9ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3238,632},{77,83}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,52},{77,83}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round9ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{3226,814},{77,83}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,52},{77,83}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res.png</string>
            <key>size</key>
            <string>{3390,1694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:863e093c703d85eebc53066a8126efe2:2b3c6ec5d1b341885d70b94b9354fdd0:e9a6761e0eaed6cf539663e6dc49fb27$</string>
            <key>textureFileName</key>
            <string>res.png</string>
        </dict>
    </dict>
</plist>
