<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_backToStart_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1928},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>common_backToStart_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1928},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>common_list_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,1769},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_list_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1694},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_music_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1843},{69,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_music_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1768},{69,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_next_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,1694},{69,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_next_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1842},{69,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_resume_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1768},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_resume_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1694},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_setting_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1842},{69,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_setting_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1768},{69,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_sound_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,1694},{69,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_sound_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1842},{69,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_starLeft_img_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,1842},{70,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>common_starLeft_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1768},{70,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>common_starMid_img_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2060},{88,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{88,85}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>common_starMid_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,2060},{88,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{88,85}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>common_starRight_img_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,1694},{70,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>common_starRight_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,1841},{70,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>common_start_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,1768},{69,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_start_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1694},{69,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>guideMap.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2500,1690}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2500,1690}}</string>
                <key>sourceSize</key>
                <string>{2500,1690}</string>
            </dict>
            <key>play_main_background_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2504,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>play_main_lose_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1924},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>play_main_win_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,1928},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>play_moves_moves_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1694},{219,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,76}}</string>
                <key>sourceSize</key>
                <string>{219,76}</string>
            </dict>
            <key>play_play_background_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2504,644},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>play_play_circle_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,1928},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>play_play_colorHLeft_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2060},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>play_play_colorHRight_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2060},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>play_play_colorVDown_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2060},{78,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>play_play_colorVUp_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2060},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>play_postPlay_back_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1694},{479,524}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{479,524}}</string>
                <key>sourceSize</key>
                <string>{495,540}</string>
            </dict>
            <key>play_prePlay_back_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1694},{479,524}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{479,524}}</string>
                <key>sourceSize</key>
                <string>{495,540}</string>
            </dict>
            <key>play_score_score_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1928},{219,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,76}}</string>
                <key>sourceSize</key>
                <string>{219,76}</string>
            </dict>
            <key>play_start_music_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1928},{118,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>play_start_music_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1928},{118,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>play_start_rate_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1928},{118,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>play_start_rate_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1928},{118,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>play_start_sound_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1928},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>play_start_sound_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1928},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>play_start_start_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2504,1286},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>play_start_start_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1861},{300,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,124}}</string>
                <key>sourceSize</key>
                <string>{300,124}</string>
            </dict>
            <key>play_start_start_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1861},{300,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,124}}</string>
                <key>sourceSize</key>
                <string>{300,124}</string>
            </dict>
            <key>play_targetTips_target_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1694},{628,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,165}}</string>
                <key>sourceSize</key>
                <string>{628,165}</string>
            </dict>
            <key>play_target_target_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1928},{245,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,68}}</string>
                <key>sourceSize</key>
                <string>{245,68}</string>
            </dict>
            <key>round10ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1861},{93,59}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,75},{93,59}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round10ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1861},{93,59}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,75},{93,59}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round1ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,2050},{75,71}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,58},{75,71}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round1ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2102,1928},{75,71}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,58},{75,71}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round2ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,2055},{77,47}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,82},{77,47}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round2ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,2050},{77,47}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,82},{77,47}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round3ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1844},{73,67}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,68},{73,67}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round3ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,1694},{73,67}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,68},{73,67}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round4ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1694},{73,71}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,63},{73,71}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round4ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1769},{73,71}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,63},{73,71}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round5ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,2059},{81,75}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,54},{81,75}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round5ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,2059},{81,75}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,54},{81,75}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round6ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1861},{49,57}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,76},{49,57}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round6ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1861},{49,57}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,76},{49,57}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round7ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1861},{57,61}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,70},{57,61}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round7ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1861},{57,61}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,70},{57,61}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round8ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2059},{79,67}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,69},{79,67}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round8ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,2059},{79,67}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,69},{79,67}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round9ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,2059},{77,83}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,52},{77,83}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round9ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,2059},{77,83}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,52},{77,83}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res.png</string>
            <key>size</key>
            <string>{3642,2175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9057573afda59edb79c1d8e9dfece32f:32a32cb0c5d582377668a6f0f1b962fe:e9a6761e0eaed6cf539663e6dc49fb27$</string>
            <key>textureFileName</key>
            <string>res.png</string>
        </dict>
    </dict>
</plist>
