<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_backToStart_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,762},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>common_backToStart_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,630},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>common_list_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,882},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_list_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,882},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_music_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,882},{69,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_music_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,701},{69,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_next_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,701},{69,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_next_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,781},{69,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_resume_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,781},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_resume_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,650},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_setting_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,650},{69,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_setting_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,650},{69,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_sound_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{69,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_sound_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,710},{69,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_starLeft_img_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,794},{70,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>common_starLeft_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,781},{70,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>common_starMid_img_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,89},{88,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{88,85}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>common_starMid_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{88,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{88,85}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>common_starRight_img_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,882},{70,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>common_starRight_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,882},{70,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{70,71}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>common_start_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,671},{69,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>common_start_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,639},{69,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>cream_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,956},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>double_cream_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,956},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>double_jelly_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,956},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>jelly_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,956},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>play_main_lose_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,742},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>play_main_win_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,882},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>play_moves_moves_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,402},{219,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,76}}</string>
                <key>sourceSize</key>
                <string>{219,76}</string>
            </dict>
            <key>play_play_circle_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,882},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>play_play_colorHLeft_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,372},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>play_play_colorHRight_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,383},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>play_play_colorVDown_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,475},{78,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>play_play_colorVUp_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,291},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>play_postPlay_back_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{479,524}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{479,524}}</string>
                <key>sourceSize</key>
                <string>{495,540}</string>
            </dict>
            <key>play_prePlay_back_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{479,524}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{479,524}}</string>
                <key>sourceSize</key>
                <string>{495,540}</string>
            </dict>
            <key>play_score_score_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,324},{219,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,76}}</string>
                <key>sourceSize</key>
                <string>{219,76}</string>
            </dict>
            <key>play_start_music_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,742},{118,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>play_start_music_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,882},{118,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>play_start_rate_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{118,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>play_start_rate_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{118,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>play_start_sound_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,600},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>play_start_sound_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,480},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>play_start_start_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,128},{300,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,124}}</string>
                <key>sourceSize</key>
                <string>{300,124}</string>
            </dict>
            <key>play_start_start_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{300,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,124}}</string>
                <key>sourceSize</key>
                <string>{300,124}</string>
            </dict>
            <key>play_targetTips_target_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{628,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,165}}</string>
                <key>sourceSize</key>
                <string>{628,165}</string>
            </dict>
            <key>play_target_target_img_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,254},{245,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,68}}</string>
                <key>sourceSize</key>
                <string>{245,68}</string>
            </dict>
            <key>round10ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,230},{93,59}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,75},{93,59}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round10ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,169},{93,59}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,75},{93,59}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round1ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,555},{75,71}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,58},{75,71}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round1ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,529},{75,71}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,58},{75,71}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round2ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,521},{77,47}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,82},{77,47}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round2ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,480},{77,47}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,82},{77,47}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round3ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,602},{73,67}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,68},{73,67}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round3ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,570},{73,67}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,68},{73,67}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round4ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,557},{73,71}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,63},{73,71}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round4ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,628},{73,71}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,63},{73,71}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round5ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,411},{81,75}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,54},{81,75}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round5ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,334},{81,75}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,54},{81,75}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round6ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,720},{49,57}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,76},{49,57}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round6ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,720},{49,57}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,76},{49,57}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round7ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,313},{57,61}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,70},{57,61}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round7ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,254},{57,61}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,70},{57,61}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round8ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,488},{79,67}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,69},{79,67}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round8ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,452},{79,67}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,69},{79,67}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round9ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,255},{77,83}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,52},{77,83}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round9ButtonSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,176},{77,83}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,52},{77,83}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>round_button_background_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,650},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>round_button_background_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,650},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>score_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,956},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sushi_1n_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,882},{50,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sushi_2n_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,742},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sushi_3n_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,955},{50,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sushi_4n_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,955},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sushi_5n_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,650},{50,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sushi_6n_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,650},{50,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sushi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f4163beff3741423218b8609b754a45$</string>
            <key>textureFileName</key>
            <string>sushi.png</string>
        </dict>
    </dict>
</plist>
